* {
    font-family: inherit;
    font-size: 13px;
    border: none;
    border-radius: 0;
}

tooltip{
    background: rgba(26, 26, 26, 0.8);
    color: #e0e0e0;
    border-radius: 10px;
    margin-left: 100px;
    border: 2px solid #70d9ad;
}

window#waybar {
    background: rgba(26, 26, 26, 0.8);
    color: #e0e0e0;
    border-radius: 10px;
    margin: 6px;
    border: 2px solid #9d4edd;
    min-width: 1200px;
}


#workspaces button {
    padding: 0px 0px;
    color: #9d4edd;
    background: rgba(26, 26, 26, 0.8);
    border-radius: 10px;
    margin: 6px 0px 6px 4px;
    min-width: 26px;
    border: 1px solid #9d4edd;
}

#workspaces button.focused {
    color: #d8d8d8;
    border-bottom: 2px solid #9d4edd;
    font-weight: bold;
    padding: 0px 3px;
    margin: 5px 0px 5px 4px;
}

#workspaces button:not(:last-child) {
    margin-right: 1px;   /* odstęp tylko z prawej strony, oprócz ostatniego przycisku */
}



#clock, #cpu, #temperature, #memory,
#pulseaudio, #network, #custom-power {
    padding: 0 5px;
    color: #879cf3;
}

#battery {
    color: #70d9ad;   /* zielony jak bateria pełna */
}

#battery.warning {
    color: #ebcb8b;   /* żółty jak bateria niska */
}

#battery.critical {
    color: #bf616a;   /* czerwony jak bateria krytyczna */
    animation: blink 1s infinite;  /* mrugająca ikona przy krytycznym poziomie */
}

#battery {
    font-family: "Font Awesome 6 Free"; /* wymuszenie fonta z ikonami tylko dla baterii */
}

@keyframes blink {
    to { opacity: 0.3; }
}

#mpris{  
    padding: 0 12px;
    color: #9d4edd;
}

#temperature.critical {
    color: #ffffff;
}

#custom-power {
    color: #9d4edd;
    font-size: 26px;
    padding-right: 16px;
}

#clock {
    color: #9d4edd;
    font-weight: bold;
}
